build/
dictionaries/
LicenceManager/
**/core_build
**/Release
**/Debug
*.user
*.ncb
*.suo
.idea
.svn
.DS_Store
Thumbs.db
*.xcuserstate
*.xcuserdatad
ASCOfficeXlsFile2/win32/_ASCOfficeXlsFile2.idl
ASCOfficeXlsFile2/win32/_ASCOfficeXlsFile2.tlb
ASCOfficeXlsFile2/win32/_ASCOfficeXlsFile2.h
ASCOfficeXlsFile2/win32/_ASCOfficeXlsFile2_i.c
ASCOfficeXlsFile2/win32/_ASCOfficeXlsFile2_p.c
ASCOfficeXlsFile2/win32/dlldata.c
OfficeUtils/win32/OfficeUtilsLib/OfficeUtilsLib/ReadMe.txt
*.obj
*.pdb
*.tlb
*.idb
**/.hg
*.zip
*.tar.gz
**/*.build/
